.list-group-item {
    height: 40px;
    padding-top: 4px;
    border: none;
    margin-left: 20px;
    margin-right: 20px;
}

.list-group-item a {
    color: red;
    text-decoration: none;
    margin-bottom: 5px;
    vertical-align: top;
}