.heading-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.breadcrumb-item {
    + .breadcrumb-item::before {
      content: ">" !important;
      align-self: baseline;
      color: #7d8daa;
    }
}

.heading-container a {
    text-decoration: none;
    color: red;
}